<!DOCTYPE html>
<html>
  <head>
    <title>The National Fan Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="band">
    <h1 class="text">Trouble Will Find Me</h1>
    <h2 class="text">Welcome to the interactive The National fan page</h2>
    <a href="/albums">Enter here</a>
  </body>
</html>
