body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: -200px;
}

a {
  color: #00B7FF;
}

.band {
  background-image: url(/stylesheets/band.jpeg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
