body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.text {
  color: white;
}
a {
  color: #00b7ff;
}

.band {
  background-image: url(/stylesheets/band.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.cover {
  background-image: url(/stylesheets/band2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.cover1 {
  background-image: url(/stylesheets/band3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
