<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>The National Discography</h1>
    <img src="stylesheets/TheNationalSelf.png" />
    <a href="/song">View Tracks here</a>
    <img src="stylesheets/SSFDL.jpg" />
    <a href="/song">View Tracks here</a>
    <img src="stylesheets/Alligator.gif" />
    <a href="/song">View Tracks here</a>
    <img src="stylesheets/Boxer.jpg" />
    <a href="/song">View Tracks here</a>
    <img src="stylesheets/HighViolet.jpg" />
    <a href="/song">View Tracks here</a>
    <img src="stylesheets/twfm.jpg" />
    <a href="/song">View Tracks here</a>
    <img src="stylesheets/SleepWellBeast.jpg" />
    <a href="/song">View Tracks here</a>
    <img src="stylesheets/IAETF.png" />
    <a href="/song">View Tracks here</a>
  </body>
</html>
