<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>The National</title>
</head>
<body>
  <table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release<br>Year</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% albums.forEach(function(a) { %>
      <tr>
        <td><%= a.title %></td>
        <td><%= a.releaseYear %></td>
        <td><a href="/albums/<%= a._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>