<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>The National Discography</h1>
      <h2>Add to the discography below</h2>
      <form id="new-form" action="/albums" method="POST">
        <label>Title:</label>
        <input type="text" name="title" />
        <label>Release Year:</label>
        <input type="text" name="releaseYear" />
        <input type="submit" value="Add Album" />
      </form>
    </div>
  <nav>
    <a href="albums/show">Return to all albums</a>
  </nav>
</body>
</html>
